@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800&display=swap');

:root {
    --navcolor: white;
    --navfont: black;
    --primary-color: #be75d7;
    --secondary-color: #348e3c;
    --background-color: #f5efef;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('bg.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: var(--navcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logo {
    font-size: 28px;
    color: var(--navfont);
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: block;
    color: var(--navfont);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: var(--navcolor);
    background-color: var(--navfont);
    border-radius: 50px;
}

.nav-bar ul li a.active {
    color: var(--navcolor);
    background-color: var(--navfont);
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: var(--navfont);
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: var(--primary-color);
        transition: 0.2s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
        z-index: 10;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.main-heading {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background-color);
}

.form-check input[type="radio"] {
    margin-right: 10px;
    margin-top: 0;
}

.form-check label {
    font-size: 16px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.btn-group button {
    flex: 1;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--background-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-group button.active {
    background-color: var(--secondary-color);
    color: white;
}

input[type="file"] {
    padding: 10px;
    background-color: var(--background-color);
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #054612;
}
